li{
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-top: 25px;
}
.content-p{
  text-indent: 2em;
}
.btn-del{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  height: 25px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.btn-del:hover{
  background-color: palevioletred;
  color: white;
}